/* CSS funciona como las variables, si la misma operacion aparece mas adelante, tomara a la ultima como valida y deshechara las demas */

*{                   /* *{} sirven para aplicar diseños a todos los elementos */
    padding: 2px;       /* padding agrega espacios entre los elementos */
    margin: 0;        /* margin agrega espacios fuera de los elementos */
    /*border: solid 1px #000;     /* QUITAR AL FINAL, esto indica la (hitbox) de los elementos */
}
                 /* si queremos aplicar diseño a un elemento, se llama directamente  */
                 /* para un elemento definido con id, se empieza con #:  #elemento{}  */
                 /* y para elementos definidos con estilos(text;image), se empieza con .: .image{}  */    

body{              
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    /* font-family me edita el tipo de fuente de los textos  */
    background-color: rgb(51, 97, 223);
    font-size: 20px;                            /* font-size me edita el tamaño del texto, y se tiene que definir que son px(pixeles), porque si no se hace, no lo tomara valido */
    background-image: url(../ImagenesProyecto/Fondo_Azul2.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 

}

/* en caso de querer colocar algo de otra carpeta, como esta ya esta dentro de una, necesito acceder desde fuera */
/* ejemplo para sacar una imagen: ../carpeta/imagen.png */
/* para las imagenes que querramos poner al fondo: background-image: url(../imagen.png) */
/* para que no se repitan: background-repeat: no-repeat /// para editar tamaño: background-size: x% y%*/
/* IMPORTANTE!! para redimensionar imagen segun la pantalla: height: 100vh (vh hace referencia a la totalidad de la pantalla, no se cortara la imagen)*/

header{
    color: white;     /* en este caso, cambio el color del texto a blanco*/
}

#Contenedor-Principal header #Menu{
    padding: 60px 0;        
}

header #Menu ul li{
    display: inline-block;      /* display: inline-block me permite colocar los elementos juntos en la misma linea*/
    padding: 5px;
}

header #Menu ul li a{
    color: whitesmoke;
    text-decoration: none;
}

body header main div{           /* Opcional: Aqui pido que elementos{} esten centrados en la pagina  */
    margin-bottom: 20px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header main p button{               /* aqui estoy editando las caracteristicas del boton, como el fondo, colo, tamaño */
    background-color: aqua;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 50px;
}

header main p button:hover{         /* aqui con :hover pido que se realize cuando el mouse pasa por encima */
    transform: scale(1.1);
    color: white;
}

header #Menu ul li a:hover{
    color: cyan;
    text-decoration: underline wavy;
}

header #Menu ul li a #Logotipo{
    margin-left: 100px;
    margin-right: 40%;
}
